.add-option-error {
    color: #dc7a7a;
    font-style: italic;
    padding: 0 0 1.6rem 1.6rem;
    margin: 0;
    font-size: $s-size;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input {
    flex-grow: 1;
    background: $dark;
    border: none;
    color: $off-white;
    padding: $s-size;
    margin: 0 0 $s-size 0;
    border-bottom: 0.3rem solid darken($dark, 10%);
    border-right: 0.2rem solid darken($dark, 10%);
    border-radius: 5px;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}
