// BIG BUTTON

.big-button {
    width: 100%;
    background: $accent;
    border: none;
    border-radius: 10px;
    border-bottom: 0.7rem solid darken($accent, 15%);
    border-right: 0.5rem solid darken($accent, 10%);
    font-size: $m-size;
    font-weight: bold;
    color: white;
    margin-bottom: $m-size;
    padding: 1.5rem;
}

.big-button:disabled {
    opacity: 0.5;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}

// REG BUTTONS

.button {
    background: $accent;
    border-radius: 5px;
    border: none;
    border-bottom: 0.3rem solid darken($accent, 10%);
    border-right: 0.2rem solid darken($accent, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    border: none;
    background: none;
    color: $off-white;
    padding: 0;
}