// WIDGET BODY

.widget {
    background: $light;
    margin-bottom: $l-size;
    border-radius: 10px;
}

.widget__message {
    color: $off-white;
    text-align: center;
    padding: $l-size;
    margin: 0;
    border-bottom: 1px solid lighten($light, 10%);
}

// WIDGET HEADER

.widget-header {
    background: $medium;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
    border-radius: 10px 10px 0 0;
}

.widget-header__title {
    margin: 0;
}