// COLORS

$darkest: #20222b;
$dark: #333745;
$medium: #3c4251;
$light: #464b5e;
$accent: #9483bf;
$off-white: #a5afd7;

// SPACING

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;